/* Sticky Footer and credit */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    gap: 8px;
    font-weight: bold;
    color: black;
    background-color: #0c4a6e;
    width: 100%;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}