button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font: 1.25rem / 1.5 sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

label {
  display: inline-block;
  font: bold 1.2rem sans-serif;
  margin-bottom: 0.5rem;
}

textarea {
  min-height: 10rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-field-group {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.text-box {
  grid-column: span 2;
}

.form-container > button {
  margin-top: 1rem;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 1rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
  
.form-container > button:hover { 
    scale: 1.05;
    color: black;
}