.resume-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-left: 2px solid rgb(126, 124, 124);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* box-shadow: -25px 0 20px -20px rgba(0, 0, 0, 0.45); */
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  position: relative;
  width: 100%;
}
