.resume-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-left: 2px solid rgb(126, 124, 124);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  width: 100%;
}
